modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/osint-demo: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/osint-demo"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/osint-demo run dev"
cwd = "./artifacts/osint-demo"
waitForPort = 25389
router = "path"

[workflows.workflow.tasks.env]
PORT = "25389"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 25389
externalPort = 3000

[userenv]

[userenv.shared]
SHODAN_API_KEY = "hzwl4FQ6HMmqOexg1EfwzVVoJ15PmJHj"
VIRUSTOTAL_API_KEY = "39d085b6feba08d4cab00f71f374d5dfd6023ad088500ad476c5dba9947feb5e"
ABUSEIPDB_API_KEY = "836d0ea0e60996ccade8a43b08cd9f493a258b10c4901d668d0e08ba4a07ffd166afb2e5c839f469"
URLSCAN_API_KEY = "019df87a-0f7e-768c-84db-d2023ecbe6cf"
